@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!-- breadcrumb area start -->
<div class="breadcrumb__area include-bg pt-200 pb-150 breadcrumb__overlay"
     data-background="@Url.Content("~/assets/img/breadcrumb/breadcrumb-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                    <h3 class="breadcrumb__title">Sign In</h3>
                    <div class="breadcrumb__list">
                        <span><a href="#">Home</a></span>
                        <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                        <span>Sign-in</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- sign up area start -->
<div class="signup__area po-rel-z1 pt-100 pb-145 p-relative">
    <div class="sign__shape">
        <img class="man-1" src="@Url.Content("~/assets/img/icons/about-shapes.png")" alt="">
        <img class="man-2" src="@Url.Content("~/assets/img/icons/book-shape.png")" alt="">
        <img class="circle" src="@Url.Content("~/assets/img/icons/role-shape.png")" alt="">
        <img class="zigzag" src="@Url.Content("~/assets/img/icons/ring-2.png")" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                <div class="tp-section__title-wrapper text-center mb-55">
                    <h2 class="tp-section__title">Sign in to <br> recharge direct.</h2>
                    <p>it you don't have an account you can <a href="#">Register here!</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="sign__wrapper white-bg">
                    <div class="sign__form">
                        <form asp-action="Login" asp-controller="Account">
                            <div class="sign__input-wrapper mb-25">
                                <h5>Username</h5>
                                <div class="sign__input">
                                    <input asp-for="Username" placeholder="Username">
                                    <i class="fal fa-user"></i>
                                </div>
                                <span asp-validation-for="Username" class="text-danger" />
                            </div>
                            <div class="sign__input-wrapper mb-10">
                                <h5>Password</h5>
                                <div class="sign__input">
                                    <input asp-for="Password" placeholder="Password">
                                    <i class="fal fa-lock"></i>
                                </div>
                                <span asp-validation-for="Password" class="text-danger" />
                            </div>
                            <button class="e-btn  w-100"> <span></span> Log In</button>
                            <div class="sign__new text-center mt-20">
                                <p>New to Markit? <a asp-action="Create" asp-controller="Account">Sign Up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sign up area end -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}